.btn-outline-success {
        color: black;
        background-color: rgb(246,244,239);
        border-color: #bac9d4;
        height: 50px;
        width: 150px;
        display: flex;
        flex: 0, 0, 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    .btn-outline-success:hover {
        color: black;
        background-color: #bac9d4;
        border-color: #bac9d4;
    }
    .navbar.my-nav-bar{
        background-color: #bac9d4;
        height: 8em;
    }
    iframe{
        width: 100vw;
        height: 100vh;
        display:flex;

    }
    .center-div {
        text-align: center;
        justify-content: center;
        display:flex;
        flex-direction:column;
    }
  
    .form {
        display:flex;
        flex-direction:column;
        text-align:center;
        justify-content:center;

    }
    .form-buttons{
        display:flex;
        flex-direction:row;
        text-align:center;
        justify-content:center;
    }
    .form-group{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }