.btn-outline-success {
        color: black;
        background-color: rgb(246,244,239);
        border-color: #bac9d4;
        height: 50px;
        width: 150px;
        display: flex;
        flex: 0, 0, 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    .btn-outline-success:hover {
        color: black;
        background-color: #bac9d4;
        border-color: #bac9d4;
    }
    .navbar.my-nav-bar{
        background-color: #bac9d4;
        height: 8em;
    }
    iframe{
        width: 100vw;
        height: 100vh;
        display:flex;

    }
    .center-div {
        text-align: center;
        justify-content: center;
        display:flex;
        flex-direction:column;
    }
  
    .form {
        display:flex;
        flex-direction:column;
        text-align:center;
        justify-content:center;

    }
    .form-buttons{
        display:flex;
        flex-direction:row;
        text-align:center;
        justify-content:center;
    }
    .form-group{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .center-img {
        text-align: center;
        justify-content: center;
        display:flex;
        flex-direction:row;
    }
    .box-text {
        display: flex;
        text-align: left;
        border: 1px solid;
        border-color: black;
        border-radius: 8px;
        padding: 20px;
        margin: 30px;
    }
    .foot {
        display: flex;
        text-align: center;
        flex-direction:column;
           border-top: 1px solid;
           border-color: black;
            margin-top: 3rem;
            padding-top: 1.5rem;
            position: absolute;
            width: 80vw;
            left: 10vw;
        }
        h2 {
            display: flex;
            text-align: right;
            flex-direction:column
        }
        .welcome{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 5vh;

        }