.alumni-sans-sc {
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.league-script-regular {
  font-family: "League Script", cursive;
  font-weight: 400;
  font-style: regular;
  font-size: 5vh;
}
body{
    font-family: "Alumni Sans SC", sans-serif;

.btn-outline-success {
        color: black;
        background-color: rgb(246,244,239);
        border-color: #bac9d4;
        height: 3rem;
        width: auto;
        max-width: 180px;
        display: flex;
        flex: 0 0 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;

    }
}

    .btn-outline-success:active,
    .btn-outline-success:focus,
    .btn-outline-success:focus-visible,
    .btn-outline-success:hover {
        color: black;
        background-color: #bac9d4 !important;
        border-color: #bac9d4 !important;
        box-shadow: none;
    }
    .navbar.my-nav-bar{
        background-color: #bac9d4;
        height: 8em;
    }
    iframe{
        width: 100vw;
        height: 100vh;
        display:flex;

    }
    .center-div {
        text-align: center;
        justify-content: center;
        display:flex;
        flex-direction:column;
    }
  
    .form {
        display:flex;
        flex-direction:column;
        text-align:center;
        justify-content:center;

    }
    .form-buttons{
        display:flex;
        flex-direction:row;
        text-align:center;
        justify-content:center;
        gap: 1rem;



    }
    .form-group{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    .center-img {
        text-align: center;
        justify-content: center;
        display:flex;
        flex-direction:row;
    }
    .box-text {
        display: flex;
        text-align: left;
        border: 1px solid;
        border-color: black;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 2rem;
        font-size: 2rem;
    }
    .foot {
        display: flex;
        text-align: center;
        flex-direction:column;
           border-top: 1px solid;
           border-color: black;
            margin-top: 3rem;
            padding-top: 1.5rem;
            position: absolute;
            width: 80vw;
            left: 10vw;
        font-family: "Alumni Sans SC", sans-serif ;
        font-size: 1.5rem
        }
        h1{
            text-align:center;
            justify-content: center;
            padding-top: 8vh;
        
        }
        h2 {
            display: flex;
            text-align: left;
            flex-direction:column
        }
        .welcome{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 5vh;

        }
        .chat-box {
            display: flex;
            text-align: left;
            border: 1px solid;
            border-color: black;
            border-radius: .5rem;
            padding: 4rem;
            margin: 4rem;

        }