    .chat-box {
            display: flex;
            text-align: left;
            border: 1px solid;
            border-color: black;
            border-radius: .5rem;
            padding: 15rem;
            margin: 4rem;

        }
    .message-box {
        display: flex;
        text-align: left; 
        border: 1px solid; 
        border-color: black;
        border-radius: .5rem; 
        margin: 4rem; 
        padding: 5rem;
    }