    /* .chat-box {
            display: flex;
            text-align: left;
            border: 1px solid;
            border-color: rgb(12, 12, 12);
            border-radius: .5rem;
            padding: 15rem;
            margin: 4rem;
            flex-direction: column;

        } */

        .chat-box {
            width: 15rem;
            margin: 4rem;
            background-color: rgb(232, 27, 27);
            border-radius: .5rem;
            border-color: black;
            overflow: hidden;

        }
        .message-container {
            display: flex;
            flex-direction: column;
        }
            .message-box {
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            max-width: 70%;
            word-wrap: break-word;
            display: flex;
            align-items: center;
            background-color: aqua;
        }
    /* .message-box {
        text-align: left; 
        border: 1px solid; 
        border-color: rgb(10, 9, 9);
        border-radius: .5rem; 
        width: 100%;
        margin: 2rem;
        padding: 4rem; 
        flex-direction: column;
    } */