
        .chat-box {
            width: 70%;
            height: 50vh; 
            display: flex;
            flex-direction: column;
            /* border: 5rem black; */
            border-radius: 10px;
            background-color: rgb(253, 255, 255);
        }
        .message-container {
            display: flex;
            flex-direction: column;
        }
            .message-box {
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            height:30%;
            width: 100%;
            word-wrap: break-word;
            display: flex;
            align-items: center;
            background-color: rgb(222, 225, 217);
        }
        .messages{
            flex: 1;
            overflow-y: auto;
            padding:10px;

        }
        .input-box{
            display: flex;
            padding: 10px; 
            border-top: 1px solid black; 
        }
        .input-area input {
            flex:1;
            padding: 8px;
        }
        .message {
        background: #e5e5ea;
        padding: 8px 12px;
        border-radius: 12px;
        margin-bottom: 8px;
        max-width: 70%;
        }

        .message-user {
        background: #bac9d4;
        padding: 8px 12px;
        border-radius: 12px;
        margin-bottom: 8px;
        max-width: 70%;
        
        }
 